.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#resumeBox{
  position: absolute;
  float: left;
  bottom: 0px;
  /* padding: 2px; */
  /* margin-top: 20px; */

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#home{
  /* background-color: #212529; */
}


.responsiveIm{
  height: auto;
  max-height: 300px;
  max-width:1500px;
  width: 100%;
}
#containerIm{
  margin-top: 2%;
  position: relative;
  text-align: center;
  color: white;
}

.flexContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* max-width:1300px; */
  margin: auto;
  width: 100%;
  
}

.flexChild{
  
}

#aboutTitle{
  text-align: justify;
  padding-right: 5%;
}

#homeCard{
  font-size:40px;
  /* flex-basis: 100%; */
  height: auto;
  /* margin: 20px; */
  background-color: #282c34;
  border:4px solid rgba(0,0,0,.12);
  padding: 10px;
  margin-bottom:20px;
}


#navbar-toggle .navLink{
  font-size:20px;
  font-weight: bold;
  color:white;
}

ul {
  display: inline-block;
}

li{
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 22px;
  text-align: left;
}

#description{
  font-size: 23px;
  text-align: left;
}

#directory{
  flex-basis: 30%;
}

.project{
  color:"white";
}

#updateLog{
  margin-top:10px;

  max-height: 30%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  width:auto;
  display: inline-block;
  padding: 20px;
  background-color: #323F4B;
  box-shadow:0 3px 6px black;
  color:#0dcaf0;
  margin-bottom: 10px;
}



.typeContainer{
  margin: auto;
  display: flex; 
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  /*This transformation is characterized by a two-dimensional vector. Its coordinates define how much the element moves in each direction.  */
  transform: translate(-50%, -50%);
}
.typewriter h1 {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-size: 50px;
  animation: 
    typing 1.5s steps(20, end),
    blink-caret .75s step-end infinite;
  color: white;
  /* font-size: 3vh; */
}

@media screen and (max-width:950px) {
  .typewriter h1{
    font-size: 30px;
    letter-spacing: 0;
  }



}


@media screen and (max-width:660px) {
  .typewriter h1{
    font-size: 20px;
    letter-spacing: 0;
  }

  #description{
    font-size: 20px;
    text-align: left;
  }


}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
