body {
    background: #DDDDDD;
}

.navbar {
    background-color: #272727;
    color: white;
    
}
.page-container {
    margin-top: 75px;
}

.white{
    color:white;
    margin-right:10px;
    margin-left: 20px;
}

.navbar{
    color:white;
}



.navbar-toggler{
  z-index: 1000;

}

nav i{
    color:white;
}

#textBottom{
    margin-bottom: 2px;
}

#resumeLink{
    font-size:19px;
    color:#116466;
}


#profileImage{
    max-width: 100%;
    max-height:100%;
}

#title{
    font-weight: bold;
}

.cardText{
    font-size:20px;
}


a .card-link{
    color:black;
}

#cardContainer{
    max-width: 100vh;
    margin:auto;
}

#resumeContainer{
    display: flex;
    align-items: center;
}

.socialIcon{
    color: #B1A296;
    font-size: 50px;
}

#socialTitle{
    font-size: 22px;
    margin-bottom: 2px;
}

#projectPage .mainTitle{
    font-weight: bold;
}

#projectListContainer{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
}

.projectCard{
    flex-basis: 33.3%;
    margin-right: 10px;
    max-width: 18rem;
}

.projectImage{
    height:100%;
    width: 100%;
    object-fit:cover;
}

.imageContainer{
    height: 210px;
     width: 100%;
     overflow: hidden;
}


@media (max-width: 995px) {
   .imageContainer, .projectImage{
       height:auto;
   }

   .projectCard{
    flex-basis: auto;
   }
   
}